.advantages {
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 708px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 0 30px 47px;

    &::after {
      position: absolute;
      content: "";
      width: 768px;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #e6e6e6;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-top: 71px;
    padding: 0 110px 69px;

    &::after {
      display: none;
    }
  }
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 249px);
    gap: 94px 137px;
    margin-top: 72px;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 249px);
    gap: 0;
    justify-content: space-between;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.advantages__item::after {
  @media (min-width: $tablet-width) {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    bottom: 0;
    left: 118px;
  }
}

.advantages__background {
  display: block;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-top: 40px;
  }
}

.advantages__background--leaf {
  background-image: url("../img/icon-leaf.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.advantages__background--hot {
  background-image: url("../img/icon-hot.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.advantages__background--eat {
  background-image: url("../img/icon-eat.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.advantages__background--alarm {
  background-image: url("../img/icon-alarm.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.advantages__text {
  margin: 0;
  align-self: center;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 24px;
    padding-top: 31px;
    padding-bottom: 57px;
  }
}
