.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.button--primary {
  display: grid;
  align-items: center;
  padding: 10px 16px;
  color: #ffffff;
  background-color: #68b738;
}

.button--primary:hover {
  background-color: #5eaa2f;
}

.button--primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--secondary {
  display: grid;
  align-items: center;
  padding: 10px 16px;
  color: #444444;
  background-color: #f2f2f2;
}

.button--secondary:hover,
.button--secondary:active {
  background-color: #ebebeb;
}

.button--no-border {
  border: none;
}

.button--index {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
  }
}
