.catalog-products-secondary {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 20px 35px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    padding: 0 30px 75px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin-top: 76px;
    padding: 0 70px 87px;
  }
}

.catalog-products-secondary__title {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0;
  padding-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-products-secondary__title-line {
  position: absolute;
  width: calc(100% - 20px);
  height: 15px;
  left: 20px;
  border-bottom: 2px solid #68b738;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 22px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog-products-secondary__container {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 81px;
    padding: 0 40px;
  }
}

.catalog-products-secondary__list {
  margin: 0;
  padding: 0;
}

.product-list-secondary {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.product-list-secondary__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 0;
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 245px;
    gap: 0 40px;
    padding: 15px 0 16px;
    border-left: none;
    border-right: none;
  }
}

.product-list-secondary__card:not(:last-child) {
  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.product-list-secondary__card--line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-list-secondary__card--line:first-child::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-list-secondary__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.product-list-secondary__features {
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.features-secondary {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 72px;
    gap: 19px;
  }
}

.features-secondary__desc {
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
    align-self: center;
  }
}

.features-secondary__price {
  margin: 0;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.product-list-secondary__button {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.catalog-products-secondary__container-img {
  position: relative;
  margin-top: 35px;
  padding: 59px 61px 43px 58px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("/img/background-cat-in-house-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #68b738;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/background-cat-in-house-mobile@2x.jpg");
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    padding: 57px 125px 60px 77px;
    flex-direction: row;


    &::after {
      background-image: url("/img/background-cat-in-house-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("/img/background-cat-in-house-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 56px 42px 43px;
    flex-direction: column;

    &::after {
      background-image: url("/img/background-cat-in-house-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("/img/background-cat-in-house-desktop@2x.jpg");
      }
    }
  }
}

.catalog-products-secondary__img {
  width: 78px;
  height: 80px;
  margin: 0 auto;
  background-image: url("../img/sprite.svg#icon-present");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;
    margin: 0;
    align-self: center;
    background-size: 100%;
  }
}

.catalog-products-secondary__text {
  width: 161px;
  margin: 0 auto;
  margin-top: 48px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    margin-left: 0;
    text-align: center;
  }
}
