.catalog-products-primary {
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin-top: 73px;
    padding: 0 110px;
  }
}

.catalog-products-primary__title-primary {
  position: relative;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    top: -27px;
    left: -20px;
    background-color: #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    &::after {
      display: none;
    }
  }
}

.catalog-products-primary__list {
  margin: 0;
  margin-top: 42px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 84px;
  }
}
