.catalog-products-primary {
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin-top: 73px;
    padding: 0 110px;
  }
}

.catalog-products-primary__title-primary {
  position: relative;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    top: -27px;
    left: -20px;
    background-color: #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    &::after {
      display: none;
    }
  }
}

.catalog-products-primary__list {
  margin: 0;
  margin-top: 42px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 84px;
  }
}

.product-list {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.product-list__card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
  padding: 20px 0 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 37px 40px;
    box-sizing: content-box;
    background: linear-gradient(to bottom, #ffffff 81px, #f2f2f2 81px);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 0 38px 40px;
  }
}

.product-list__card--line::after {
  position: absolute;
  content: "";
  height: 1px;
  top: 0;
  right: -20px;
  left: -20px;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-list__card--line:last-child::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  right: -20px;
  left: -20px;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-list__image-link {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.product-list__title-link {
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.product-list__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    padding-right: 57px;
    padding-left: 58px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 14px;
    padding-left: 15px;
  }
}

.product-list__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-list__features {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

.features__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-bottom: 5px;
  }
}

.features__desc {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.features__specification {
  margin: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.features__specification--—Åapital {
  text-transform: capitalize;
}

.product-list__button {
  grid-column: 1/3;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}

.product-list__card--more {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    align-self: flex-end;
    background: #ffffff;
    border: 1px solid #f2f2f2;
  }
}

.product-list__title-more {
  position: relative;
  grid-column: 1/3;
  margin: 0;
  padding-top: 53px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
  text-align: center;

  & br {
    display: none;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d3d3d3;
  }

  &::before {
    transform: translateX(-50%) rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    font-size: 20px;
    line-height: 24px;

    & br {
      display: block;
    }

    &::after,
    &::before {
      width: 60px;
      top: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;

    &::after,
    &::before {
      width: 60px;
      top: 30px;
    }
  }
}

.product-list__text-more {
  grid-column: 1/3;
  margin: 0;
  padding-top: 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }
}

.product-list__text-more br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product-list__button--more {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 90px;
  }
}
