.creator {
  display: flex;
  justify-content: space-between;
}

.creator__name {
  padding: 7px 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }

  &:active {
    opacity: 0.3;
  }
}

.creator__link {
  width: 27px;
  height: 34px;
  mask-image: url("../img/sprite.svg#logo-html");
  background-color: #666666;

  &:hover,
  &:focus-within {
    background-color: #68b738;
  }

  &:active {
    background-color: #68b738;
    opacity: 0.3;
  }
}
