.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.example__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: #000000;
}

.example__text {
  margin: 0;
  padding-top: 40px;
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 32px;
  margin: 0;
  padding-top: 20px;
}

.example__item {
  position: relative;
}

.example__number {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 18px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #cdcdcd;
}

.example__description {
  position: absolute;
  width: 88px;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
}

.example__list-expenses {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 34px 20px 0;
}

.example__expenses {
  margin-right: 5px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.example__price {
  margin: 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
