.footer-container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer-container__contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    gap: 96px;
    width: auto;
    padding: 60px 78px 60px 80px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
  }
}

.footer-container__contacts--color-alternative {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.footer-container__sales {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.footer-container__adress {
  @media (min-width: $tablet-width) {
    padding-right: 40px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    text-align: left;
  }
}

.footer-container__street {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
    font-size: 16px;
  }
}

.footer-container__city {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.footer-container__map {
  display: block;
  width: 100%;
  background-color: #f2f2f2;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.footer-container__map--nojs {
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.png");
  }
}

.footer-container__link-container {
  padding: 0 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.footer-container__link {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 66px 0;
  }
}

.footer-container__item-link {
  position: relative;
}

.footer-container__item-link:first-child {
  @media (min-width: $tablet-width) {
    margin-right: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 416px;
  }
}

.footer-container__item-link--margin-right {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.footer-container__item-link:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer-container__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  &:hover .footer-container__logo-icon,
  &:focus-within .footer-container__logo-icon {
    background-color: #3e3e3e;
  }

  &:active .footer-container__logo-icon {
    background-color: #6b6b6b;
  }
}

.footer-container__logo-icon {
  width: 128px;
  height: 24px;
  mask-image: url("../img/sprite.svg#logo-cat-energy");
  background-color: #111111;
}

.footer-container__list {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 24px;
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: #666666;

  &:hover,
  &:focus-within {
    background-color: #68b738;
  }

  &:active {
    background-color: #68b738;
    opacity: 0.3;
  }
}

.social-list__link--one {
  mask-image: url("../img/sprite.svg#vk");
}

.social-list__link--two {
  mask-image: url("../img/sprite.svg#youtube");
}

.social-list__link--three {
  mask-image: url("../img/sprite.svg#telegram");
}

.footer-container__container {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.creator {
  display: flex;
  justify-content: space-between;
}

.creator__name {
  padding: 7px 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }

  &:active {
    opacity: 0.3;
  }
}

.creator__link {
  width: 27px;
  height: 34px;
  mask-image: url("../img/sprite.svg#logo-html");
  background-color: #666666;

  &:hover,
  &:focus-within {
    background-color: #68b738;
  }

  &:active {
    background-color: #68b738;
    opacity: 0.3;
  }
}
