.footer-container__contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 20px;
}

.footer-container__contacts--background-color-secondary {
  background-color: #f2f2f2;
}

.footer-container__sales {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

.footer-container__adress {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.footer-container__map {
  display: block;
}

.footer-container__link-container {
  padding: 0 20px;
}

.footer-container__link-container--background-color-secondary {
  background-color: #f2f2f2;
}

.footer-container__link {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 0;
}

.footer-container__item-link {
  position: relative;
}

.footer-container__item-link:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  bottom: 0;
  background-color: #d9d9d9;
}

.footer-container__logo {
  display: block;
  padding-bottom: 20px;
  text-align: center;
}

.footer-container__list {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 24px;
}

.footer-container__container {
  padding-top: 20px;
}

.creator {
  display: flex;
  justify-content: space-between;
}

.creator__name {
  padding: 7px 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
}
