.form-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 29px 20px 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 65px 30px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 74px 110px 79px;
  }
}

.form-container--line::after {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  height: 1px;
  top: 0;
  left: -20px;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-container__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form-container__slogan {
  margin: 0;
  margin-top: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    padding: 0 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    padding: 0;
  }
}

.form-container__form {
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
  }
}

.form-container__filter {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.form-container__filter--name {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.form-container__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form-container__item {
  display: flex;
  align-items: center;
}

.form-container__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-container__label {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form-container__label--margin {
  margin-right: 14px;
}

.form-container__filter--varieties {
  position: relative;
  padding-top: 22px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
    padding: 23px 27px 27px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}

.form-container__filter--line::after {
  position: absolute;
  content: "";
  height: 1px;
  top: 0;
  left: -20px;
  right: -20px;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-container__filter--line::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: -20px;
  right: -20px;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-container__item-secondary:not(:last-child) {
  margin-bottom: 13px;
}

.form-container__label--box {
  position: relative;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form-container__mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-container__mark--alternative {
  border-radius: 50%;
}

.form-container__input-button[type="radio"]:checked + .form-container__mark::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.form-container__input-button[type="checkbox"]:checked + .form-container__mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("/img/tick.svg");
  background-repeat: no-repeat;
}

.form-container__input-button:not([disabled]):hover + .form-container__mark {
  border-color: #bababa;
}

.form-container__input-button:not([disabled]):focus-within + .form-container__mark {
  border: 2px solid #111111;
}

.form-container__input-button:disabled ~ span {
  border-color: #bababa;
  opacity: 0.3;
}

.form-container__span {
  display: inline-block;
  padding: 6px 0;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
  }
}

.form-container__filter--contacts {
  position: relative;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    grid-column: 1/3;
  }
}

.form-container__legend {
  display: flex;
  width: 100%;
  padding: 0;
}

.form-container__legend-title {
  width: max-content;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;

    & br {
      display: none;
    }
  }
}

.form-container__legend-line-right {
  flex-grow: 1;
  width: 100%;
  height: 18px;
  margin-right: -20px;
  border-bottom: 2px solid #68b738;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-right: -70px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -110px;
  }
}

.form-container__legend-line-left {
  @media (min-width: $tablet-width) {
    position: absolute;
    flex-grow: 1;
    width: 30px;
    height: 18px;
    left: -70px;
    border-bottom: 2px solid #68b738;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    left: -110px;
  }
}

.form-container__list--contacts {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
  }
}

.form-container__item--margin-none:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-container__item--icon {
  position: relative;
}

.form-container__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 12px;
  background-color: #222222;

  @media (min-width: $tablet-width) {
    top: 16px;
    right: 14px;
  }

  @media (min-width: $desktop-width) {
    right: 16px;
  }
}

.form-container__icon--one {
  mask-image: url("../img/sprite.svg#icon-email");
}

.form-container__icon--two {
  mask-image: url("../img/sprite.svg#icon-telephone");
}

.form-container__filter--comments {
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    grid-column: 1/3;
  }
}

.form-container__filter--additionally {
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
    grid-column: 1/3;
  }
}

.form-container__list--additionally {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    display: grid;
    grid-template-columns: 344px 1fr;
    gap: 32px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 285px 285px 285px 145px;
    gap: 0 40px;
  }
}

.form-container__item-secondary--margin-none:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form-container__button-container {
  margin-top: 34px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    margin-top: 60px;
    gap: 0 80px;
  }
}

.form-container__small {
  padding-top: 21px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 0;
    font-size: 16px;
    text-align: start;
  }
}
