.main-header {
  width: 100%;
  margin: 0 auto;
  padding: 13px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    justify-content: start;
    padding: 25px 30px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 55px 110px 0;
    z-index: 10;
  }
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
}

.main-header__logo:first-child {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-header__picture-primary {
  width: 33px;
  height: 38px;
  background-image: url("../img/sprite.svg#logo-icon-mobile");
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
    background-image: url("../img/sprite.svg#logo-icon-tablet");

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 59px;
      background-image: url("../img/sprite.svg#logo-icon-desktop");
    }
  }
}

.main-header__picture-secondary {
  width: 101px;
  height: 18px;
  background-image: url("../img/sprite.svg#logo-cat-energy");
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__toggle {
  position: relative;
  margin-left: auto;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 2px;
  left: 0;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-header__toggle {
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 10px;
    left: 2px;
    background-color: #000000;
  }

  &::after {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::before {
    transform: rotate(-45deg);
  }
}


.main-header--line::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;
}

.main-nav--opened .popover-container {
  @media (max-width: 767px) {
    display: inline-block;
    position: absolute;
    width: 320px;
    top: 64px;
    left: 0;
    z-index: 10;

    @media (min-width: 320px) {
      width: 100%;
    }
  }
}

.main-header__popover {
  display: none;

  @media (min-width: 320px) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
  }
}

.main-header__popover--background {
   @media (min-width: $desktop-width) {
    width: 610px;
    margin-left: auto;
  }
}

.main-nav--nojs .popover-container {
  @media (max-width: 767px) {
    display: block;
    position: static;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -13px;
  }
}

.main-nav--nojs .main-header__logo {
  @media (max-width: 767px) {
    margin-bottom: 13px;
  }
}
