.product-list-secondary {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.product-list-secondary__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 0;
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 245px;
    gap: 0 40px;
    padding: 15px 0 16px;
    border-left: none;
    border-right: none;
  }
}

.product-list-secondary__card:not(:last-child) {
  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.product-list-secondary__card--line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-list-secondary__card--line:first-child::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-list-secondary__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.product-list-secondary__features {
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.product-list-secondary__button {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}
