.varieties {
  padding: 20px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 110px 0;
  }
}

.varieties__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

.varieties__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.varieties__item {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.varieties__title {
  position: relative;
  margin: 0;
  padding: 30px 0 0 90px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: 340px;
    padding: 77px 0 0 53px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 73px;
    padding-left: 214px;
  }
}

.title-background--slim::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  top: 21px;
  left: 20px;
  background-image: url("../img/cat-slim-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 92px;
    left: 445px;
    background-image: url("../img/cat-slim-tablet.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
    background-image: url("../img/cat-slim-desktop.svg");
    background-repeat: no-repeat;
  }
}

.title-background--pro::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 50px;
  left: 13px;
  top: 24px;
  background-image: url("../img/cat-pro-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    top: 91px;
    left: 411px;
    background-image: url("../img/cat-pro-tablet.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
    background-image: url("../img/cat-pro-desktop.svg");
    background-repeat: no-repeat;
  }
}

.varieties__text {
  margin: 0;
  padding: 22px 33px 29px 20px;

  @media (min-width: $tablet-width) {
    width: 340px;
    padding: 24px 0 0 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 73px 61px 0 52px;
  }
}

.varieties__container {
  padding: 15px 20px 18px;

  @media (min-width: $tablet-width) {
    width: 340px;
    padding: 52px 0 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 0 59px 52px;
  }
}

.varieties-button {
  position: relative;
  display: inline-block;
  padding: 4px 47px 4px 0;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.varieties-button::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
}
