html {
  height: 100%;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #444444;
  background-color: #cdcdcd;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.form-container__input[type="number"]::-webkit-outer-spin-button,
.form-container__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container__input[type="number"] {
  -moz-appearance: textfield;
}
.form-container__input[type="number"]:hover,
.form-container__input[type="number"]:focus {
  -moz-appearance: number-input;
}

.form-container__input[type=number]::-webkit-inner-spin-button,
.form-container__input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
